// Color

$blue: #1A0DAB;
$deep_blue: #2E5173;
$very_light_blue: #F9FAFE;
$light-gray: #DDDDDD;

// Dimensions

$header-height: 3rem;

// Base

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", Sans-Serif;
  line-height: 1.7;
  background-color: $very_light_blue;
  color: $deep_blue;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  max-width: 100%;
}

//Page

.page {
  border: 1px solid $light-gray;
  background-color: white;
  min-height: calc(100vh - #{$header-height});
  padding: 2rem 1.875rem 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
}

//Page Header

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__action {
  min-width: 8rem;
}

// Button

.btn {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  transition: all ease-out .2s;
  letter-spacing: 2px;
  text-decoration: none;
}

.btn--sm {
  height: 1.5rem;
  padding: 0 .5rem;
  font-size: .8rem;
}

.btn--md {
  height: 2.3rem;
  padding: 0 .5rem;
  font-size: .8rem;
}

.btn--lg {
  height: 2.4rem;
  padding: 0 2rem;
  font-size: .9rem;
}

.btn--primary {
  border: 1px solid #2274E5;
  background-color: #2274E5;
  &:hover {
    background-color: #1267E6;
    border-color: #2274E5;
  }
}

.btn--secondary {
  color: #444444;
  background-color: white;
  border: 1px solid #d8d8d8;
  letter-spacing: normal;
  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }
}

.btn--danger {
  border: 1px solid #FF5555;
  background-color: #F0514F;
  &:hover {
    background-color: #e44e4e;
    border: 1px solid #e44e4e;
  }
}

.btn--block {
  width: 100%;
}

// form

.form-actions__items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.form-actions__item {
  padding: 0 .5rem;
  min-width: 12rem;
}

.form-actions__item--cancel {
  padding: 0 .5rem;
}

// auth form

.auth-form {
  max-width: 30rem;
  margin: 2rem auto;
  border: 1px solid #ddd;
  background-color: white;
  padding: 2rem 1.875rem 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
}

.auth-form--is-update {
  max-width: 30rem;
  margin: 0 auto;
}

.auth-form-logo {
  font-family: "American Typewriter";
  text-align: center;
  font-size: 3rem;
  margin-top: 2.5rem;
}

.auth-form-logo__link {
  color: $deep_blue;
}

.auth-form__header {
  margin-bottom: 1rem;
}

.auth-form__title {
  text-align: center;
  font-size: 1.5rem;
}

.auth-form__body {
  margin: 1.5rem 0;
}

.auth-form__footer {
  border-top: 1px solid #ccc;
  padding: .7rem 0;
}

.auth-form-nav__items {
  display: flex;
  justify-content: space-around;
}

.auth-form-nav__item {
  list-style: none;
}

.auth-form-nav__link {
  font-size: .8rem;
}

// list label

.list__labels {
  display: flex;
  padding: 0 1.5rem;
}

.list__label {
  font-size: .8rem;
  color: #666666;
  &.col-lg {
    flex: 1 1 25%;
  }
  &.col-sm {
    flex: 1 1 10%;
  }
  &.col-md {
    flex: 1 1 15%;
  }
}

// list item

.list-item {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .85rem 1.5rem;
  &__title {
    font-size: .95rem;
    font-weight: 600;
  }
  &__memo {
    padding: 1rem 5px;
    font-size: .895rem;
    white-space: pre-line;
    word-break: break-all;
  }
}

.list-item--display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-item__expand {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #DDE5F0;
  border-radius: 50%;
  transition: all ease .2s;
  cursor: pointer;
  text-align: center;
  position: relative;
  &::before {
    display: inline-block;
    content: "⌵";
    position: absolute;
    top: -3px;
    right: 0;
    left: 0;
    z-index: 1;
  }
  &:hover {
    background-color: #2274E5;
    color: white;
  }
  &.is-checked {
    background-color: #2274E5;
    color: white;
    &::before {
      transform: rotateX(180deg);
      top: 2px;
    }
  }
}

.list-item__expand:focus {
  outline: 0;
}

.list-item__actions {
  display: flex;
  justify-content: flex-end;
}

.list-item__action:not(:last-child) {
  padding-right: 1rem;
}

.list-item__element {
  font-size: .9rem;
  &.col-lg {
    flex: 1 1 25%;
  }
  &.col-sm {
    flex: 1 1 10%;
  }
  &.col-md {
    flex: 1 1 15%;
  }
}

// Header

.header {
  background-color: #1A5084;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.header-title {
  font-size: 1.835rem;
  font-family: "American Typewriter";
}

.header-title__link {
  color: #fafafa;
  text-decoration: none;
  padding: 2px 7px;
  transition: all ease-out .08s;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

.header-nav {
  height: 100%;
  position: relative;
}

.header-nav__items {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.header-nav__button {
  font-weight: bold;
  padding: 2px 7px;
  font-size: .9rem;
  color: #fafafa;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: all ease-out .08s;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

.header-nav__link {
  font-weight: bold;
  padding: 2px 7px;
  font-size: .9rem;
  color: #fafafa;
  transition: all ease-out .08s;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

.header-menu {
  height: 100%;
}

.header-menu__label {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-menu__button {
  font-weight: bold;
  padding: 2px 7px;
  color: #fafafa;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
  &:focus {
    outline: none;
  }
}

.header-menu__icon {
  margin-left: .3rem;
}

.header-dropdown {
  position: absolute;
  right: 0;
  z-index: 2;
  border: 1px solid rgba(34, 36, 38, .2);
  border-radius: .25rem;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  width: 10rem;
  background-color: white;
}

.header-dropdown__items {
  list-style: none;
  > :not(:last-of-type) {
    border-bottom: 1px solid #ddd;
  }
}

.header-dropdown__item {
  font-size: .875rem;
  transition: all ease-out .2s;
  &:hover {
    background-color: #E5E5E5;
  }
}

.header-dropdown__link {
  display: block;
  padding: .75rem;
  width: 100%;
  text-align: left;
  color: $blue;
  &:focus {
    outline: none;
  }
}

// footer

.footer {
  padding: 1rem 0;
}

.footer-nav {
  margin-bottom: .25em;
}

.footer-nav__items {
  display: flex;
  justify-content: center;
}

.footer-nav__item {
  padding: 0 1rem;
}

.footer-nav__link {
  font-size: .857rem;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.footer-copyright__author {
  padding-right: .5rem;
  padding-left: .25rem;
}
