// Color

$blue: #1A0DAB;
$deep_blue: #2E5173;
$very_light_blue: #F9FAFE;
$light-gray: #DDDDDD;

// Dimensions

$header-height: 3rem;

// Base

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", Sans-Serif;
  line-height: 1.7;
  background-color: $very_light_blue;
  color: $deep_blue;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  max-width: 100%;
}

//Page

.page {
  border: 1px solid $light-gray;
  background-color: white;
  min-height: calc(100vh - #{$header-height});
  padding: 2rem 1.875rem 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
}

//Page Header

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__action {
  min-width: 8rem;
}

// Button

.btn {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  transition: all ease-out .2s;
  letter-spacing: 2px;
  text-decoration: none;
}

.btn--sm {
  height: 1.5rem;
  padding: 0 .5rem;
  font-size: .8rem;
}

.btn--md {
  height: 2.3rem;
  padding: 0 .5rem;
  font-size: .8rem;
}

.btn--primary {
  border: 1px solid #2274E5;
  background-color: #2274E5;
  &:hover {
    background-color: #1267E6;
    border-color: #2274E5;
  }
}

.btn--secondary {
  color: #444444;
  background-color: white;
  border: 1px solid #d8d8d8;
  letter-spacing: normal;
  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }
}

.btn--danger {
  border: 1px solid #FF5555;
  background-color: #F0514F;
  &:hover {
    background-color: #e44e4e;
    border: 1px solid #e44e4e;
  }
}

.btn--block {
  width: 100%;
}

// form

.form-actions__items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.form-actions__item {
  padding: 0 .5rem;
  min-width: 12rem;
}

.form-actions__item--cancel {
  padding: 0 .5rem;
}

// list label

.list__labels {
  display: flex;
  padding: 0 1.5rem;
}

.list__label {
  flex: 1 1 15%;
  font-size: .8rem;
  color: #666666;
  &.col-lg {
    flex: 1 1 25%;
  }
  &.col-sm {
    flex: 1 1 10%;
  }
}

// list item

.list-item {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .85rem 1.5rem;
  &__title {
    font-size: .95rem;
    font-weight: 600;
  }
  &__memo {
    padding: 1rem 5px;
    font-size: .895rem;
    white-space: pre-line;
  }
}

.list-item--display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-item__expand {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #DDE5F0;
  border-radius: 50%;
  transition: all ease .2s;
  cursor: pointer;
  text-align: center;
  position: relative;
  &::before {
    display: inline-block;
    content: "⌵";
    position: absolute;
    top: -3px;
    right: 0;
    left: 0;
    z-index: 1;
  }
  &:hover {
    background-color: #2274E5;
    color: white;
  }
  &.is-checked {
    background-color: #2274E5;
    color: white;
    &::before {
      transform: rotateX(180deg);
      top: 2px;
    }
  }
}

.list-item__expand:focus {
  outline: 0;
}

.list-item__actions {
  display: flex;
  justify-content: flex-end;
}

.list-item__action:not(:last-child) {
  padding-right: 1rem;
}

.list-item__element {
  flex: 1 1 15%;
  font-size: .9rem;
  &.col-lg {
    flex: 1 1 25%;
  }
  &.col-sm {
    flex: 1 1 10%;
  }
}
